body {
    font-family: Montserrat;
    background-color: white;
}

.about {
    color: rgb(17, 6, 143);
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 20px;
}

.john {
    display: block;
    margin: 0 auto;
    height: 275px;
    width: 275px;
    border-radius: 25px;
}

.description {
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
}